.How{
    height: 100%;
    width: 100%;
    color: white;
    padding: 70px 0px;

}

.Cardcontainer{
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 30px;
    row-gap: 100px;
}

.card{
    background-color: rgba(225, 225, 225, 0.3);
   backdrop-filter: blur(15px);
    height: 400px;
    width: 300px;
    padding: 0px 30px 60px 0px;
    border-radius: 10px;
    border: solid 3px white;
}

.cardCon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card span{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}

.card .details{
    text-align: left;
    padding-top: 10px;
}

.card p{
    color: white;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
    padding-left:20px;
}

.HowToPlaySec .card h2{
    font-weight: 900;
    color: white;
    font-size:25px;
    text-align: center;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    padding: 15px 15px 60px 15px;
    background-color: black;
    width: 100%;
}

.HowToPlaySec .Cardcontainer .hidden-How h1{
    font-size: 30px;
    padding: 0px 0px 30px 0px ;
    font-family: "Press Start 2P", system-ui;
    font-weight: 800;
    color: gray;
}

.HowToPlaySec .card h3{
    font-weight: 650;
    word-spacing: 1px;
    letter-spacing: .7px;
    padding-left:20px;
}

.HowToPlaySec h1{
   font-size: 55px;
   padding-bottom: 60px;
   text-align: center;
    color:white;
}

.HowToPlaySec .hidden-What .play{
    font-size: 50px;
    color: gray;
    margin-bottom:30px;
}

.HowToPlaySec h1 span{
    font-size: 45px;
}


.hidden-How{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
   transform-origin: top;
    transform:translateY(50%);
 }
 
 .show-How{
     opacity: 1;
     filter: blur(0);
     transform: translateY(0%);
     transform-origin: bottom;
 }
 
 
 
 @media (prefers-reduced-motion){
 .hidden-How{
     transition: none;
 }
 }

@media  (max-width:826px){
    .HowToPlaySec h1{
        font-size: 45px;
    }

    .HowToPlaySec .play{
        font-size: 45px;
    }

    .HowToPlaySec h1 span{
        font-size: 35px;
    }
}

@media (max-width:575px){
    .HowToPlaySec h1{
        font-size: 35px;
    }

    .HowToPlaySec .play{
        font-size: 35px;
    }

    .HowToPlaySec h1 span{
        font-size: 25px;
    }
}

@media (max-width:444px){
    .HowToPlaySec h1{
        font-size: 28px;
    }

    .HowToPlaySec .play{
        font-size: 28px;
    }

    .HowToPlaySec h1 span{
        font-size: 20px;
    }

    .HowToPlaySec .card h3{
        font-weight: 600;
        word-spacing: 1px;
        letter-spacing: .7px;
    }

    .HowToPlaySec .card h1{
        font-size: 33px;
        padding: 0px;
        font-weight: 800;
    }

    .card p{
        font-size: 15px;
    }

    .card span{
        padding: 3px 7px;
    }

    .card{
        height: 400px;
        width: 250px;
        border-radius: 10px;
        border-bottom: solid 3px white;
        border-top: solid 3px white;  
    }
}
