
nav{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.NavBar{
    display: flex;
    height:20px;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    padding-right: 50px;
    padding-top: 15px;
}

a{
    color: white;
}


.NavBar .left img{
    height: 120px;
    cursor: pointer;

}



.NavBar #middleNav .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    text-align:center;
    cursor: pointer;
}


.NavBar #middleNav .socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

 .NavBar #middleNav .socials .icon{
    font-size: 24px;
}

 .NavBar #middleNav .right p{
     font-size:20px;
    font-weight:600;
    color:white;
 }

.NavBar .hamburger{
    display: none;
}

.hamburger span{
    font-size: 40px;
    cursor: pointer; 
}

#middleNav .showBurger{
    display:none;
}

#middleNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
}

@keyframes navAnime {
    0%{
        opacity: 0;
        filter: blur(5px);
       transform-origin: right;
        transform:translateX(100%);    
    }

    30%{
        opacity: 0.5;
        filter: blur(2px);
    }
    50%{  
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
        transform-origin: left;
    } 
}

@media  (max-width:990px){
   #middleNav{
    display: none;
   }
    
nav{
    position: fixed;
    z-index: 1000;
}

    .NavBar{
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 30px 22px 20px 0px;
    }

   .NavBar .hamburger{
    display: block;
   }  

   .NavBar .left img{
    height: 100px;
   }


   .showNav .right{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

    .showNav .right p{
        font-size:20px;
        font-weight:600;
        cursor:pointer;
    }

    .showNav .right .socials{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

   .showNav{
    flex-direction: column-reverse;
    height: 100%; 
    right: 0;
    display: flex;
    position: fixed;
    top: 0;
    gap: 30px;
    z-index: 10000;
    transition: 1s ;
    animation: navAnime 1s ease-in-out;
    transform: translateY(0);
    justify-content: center;
    backdrop-filter: blur(15px);
    width: 50%;
    align-items: center;
    box-shadow: -10px 0 10px rgba(0, 0, 0, .5);
    background-color: rgba(225, 225, 225, .4);
   }

   .NavBar .showNav .socials .icon{
    font-size: 24px;
}

   .NavBar .showNav .middle button{
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 500;
    outline: none;
    border: none;
    transition: .2s;
}

.NavBar .showNav .middle button:hover{
    opacity: 0.8;
}

   .NavBar .showNav .showBurger{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 20px;
   }

    .NavBar .showNav .showBurger img{
    height: 40px;
    cursor: pointer;
   } 
}

@media (max-width:444px) {
    .showNav{
        width: 100%;
    }
}




