*{
  padding: 0px;
  margin: 0px;
 font-family: "Montserrat", sans-serif;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}





body{
font-family: "Montserrat", sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  background: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
 
}


